
body {
    height:100vh
}

.bg-image {
    background-image: url('/images/background3.jpg');
    height: 100vh;
    background-size: cover;
}

.custom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.nav {
    --bs-link-color: #ff5733;
    --bs-link-hover-color : #fd0707;
    width: auto;
}

ul.nav {
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

.container-fluid {
    font-size: 1.4rem;
    margin-top: 10px;
}

.layoutcontain {
    /* border: 5px, solid, purple; */
    flex-grow: 1;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: pas trop gros */
}

h1 {
    margin-left: 10px;
    margin-top: 5px;
}

/* --bs-link-color est une variable personnalisée (pas une propriété) déjà définie dans une classe bootstrap
Il faut lui attribuer une couleur HEX*/

.home {

}


#form {
    display : flex;
    flex-direction : column;
    flex-grow : 1;
}

#form input {
    margin : 20px;
    width : 40vh;
}

#valider {
    width : 20vh !important
}
/*!important permet d'override les règles CSS djà chargées sur le CDN de Bootstrap*/

.post {
    margin-top: 40px;
    /* border : 5px solid yellowgreen; */
    background-color: red;
    flex-grow: 1;
    height: 60vh;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display : grid;
    color : rgb(255, 255, 255);
    padding-top : 50px;
    height : 200px
}

#profilInfos {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: green;
    padding : 5px;

}

#userContainer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-rows: repeat(5, 1fr);
}

#pseudoContainer {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color :rgb(0, 255, 68);
}

#iconContainer {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color :aqua;
    margin-right: 10px;
    border-radius: 10px;
}

#bioContainer {
    padding: 10px 0 0 10px;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #7a33ff;
    border-radius: 10px;
}

.posts {
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: yellow;
    height : 50vh;
    margin : 10px;
}

.onePost {
    margin: 10px 0 0 10px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ff33dd;
    border-radius: 10px;
}