//- route : "/"
extends layout
block content 
    div
        .container  
            div.accueil
                h3 Bienvenue sur Post-It!, le premier site de challenge photo quotidien!
                p Le principe est simple : 1 jour, 1 thème, plusieurs centaines de photos postées par nos utilisateurs!
                br
                p Thème du jour : #{theme}

block post