extends layout
block content 
    .container
        div Bienvenu Admin
        div Ajoutez ici un nouveau theme 
            form#form(action="/addTheme" method="post" name="Theme") 
                input(type="text" name="theme" placeholder="indiquez votre thème")
                input#valider(type="submit" value="Valider")