extends layout
block content 
    h3 Connexion 
    form#form(action="/seConnecter" method="post" name="authentification") 
        input(type="text" name="pseudoForm" placeholder="pseudo")
        input(type="text" name="passwordForm" placeholder="mot de passe")
        input#valider(type="submit" value="Valider" )