extends layout
block content 
    h3 Connexion 
    form#form(action="/submit" method="post" name="pseudo") 
        input(type="text" name="pseudoco" placeholder="pseudo")
        input(type="text" name="passwordco" placeholder="mot de passe")
        input#valider(type="submit" value="Valider" )