extends layout
block content 
    .container
            if pseudo 
                div Bonjour #{pseudo}
            else 
                div Entrez votre nom d'utilisateur et votre mot de passe
            form#form(action="/sInscrire" method="post" name="pseudo") 
                input(type="text" name="pseudo" placeholder="pseudo")
                input(type="text" name="mdp" placeholder="mot de passe")
                input#valider(type="submit" value="Valider" )