extends layout
block content 
    .container
            if connectedUser
                div Bonjour #{connectedUser}
            else 
                div Pour vous inscrire, choisissez un nom d'utilisateur et un mot de passe
            form#form(action="/sInscrire" method="post" name="pseudo") 
                input(type="text" name="pseudo" placeholder="pseudo")
                input(type="text" name="mdp" placeholder="mot de passe")
                input#valider(type="submit" value="Valider" )