extends layout 
block content 
    h1 Participe au thème du jour! 
    h2 Le thème du jour est : soleil 
    p Télécharge ta photo en respectant les règles du site. Toute photo ne respectant pas les règles sera suppriméé. 
    p N'oublie pas : prendune photo de bonne qualité et sois créatif! Plus ta photo respectera ces critères, plus grandes seront ets chances de gagner le thème du jour ;)
    p Et si tu manques d'inspiration, va jeter un oeil aux création des autres sur le feed


    