extends layout 
block content 
    h1 Participe au thème du jour! 
    h2 Le thème du jour est : #{theme} 
    p Télécharge ta photo en respectant les règles du site. Toute photo ne respectant pas les règles sera supprimée. 
    p N'oublie pas : prendune photo de bonne qualité et sois créatif! Plus ta photo respectera ces critères, plus grandes seront ets chances de gagner le thème du jour ;)
    p Et si tu manques d'inspiration, va jeter un oeil aux création des autres sur le feed

    

    h1 Créer un nouveau post
    form(action="/add_post" method="POST")
        div
            label(for="name") Nom:
            input(type="text" name="name" id="name")
        div
            label(for="image") Image URL:
            input(type="url" name="image" id="image")
        div
            label(for="legend") Légende:
            input(type="text" name="legend" id="legend")
        div
            button.btn.btn-outline-danger(type="submit") Envoie ta photo



    //- Ressource download une photo en express
    //- https://medium.com/@webplayground777/how-to-use-res-download-to-download-images-df50e4cfde06

    //- Ressource boutons Bootstrap 
    //- https://getbootstrap.com/docs/4.0/components/buttons/