extends layout
block content 
    h1 Profil
    .container.grid-container
        div#profilInfos
            div#userContainer
                div#pseudoCOntainer pseudoContainer
                    div#pseudo
                div#iconContainer iconContainer
            div#bioContainer bioContainer
        h2 Mes posts
        div.posts 
            //- creation de posts dynamiquement
            div.onePost Un post 